
databricks-sdk==2.8.0
databricks-vectorsearch==0.40
evaluate==0.4.3
flashrank==0.2.8
langchain==0.3.18
langchain-community==0.3.14
langchain-core==0.3.36
langchain-text-splitters==0.3.6
mlflow==2.20.2
pypdf==5.3.0
sentence-transformers==3.4.1
textstat==0.7.5